/*HOME PAGE CSS*/ 
/*Header CSS */
*{
    color:whitesmoke;
}
body{
    font-family: 'Montserrat', sans-serif;
}
header{
    background: linear-gradient(black, rgba(0, 0, 255, 0.479));
}
.headerBox{
    position:relative;
    padding: 1.5em 5% ;
    margin: 0 auto;
}
.logo{
    width: 20%;
}
nav{
    position: absolute;
    top: 50%;
    left: 45%;
    font-size: 1.5em;
}
nav li{
    display: inline;
    margin: 0 0 0 25px;
}
nav a{
    text-decoration:none;
    color: black;
}

/* Main css */
main{
    background:rgba(0, 0, 255, 0.479);
}
main h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}
.principal {
    width: 70%;
    margin: auto;
    padding: 5%;
}
.pokemonBall{
    width: 30%;
    float: left;
}
section p{
    font-size: 1.2em;
    text-align:justify;
    margin-top: 5%;
    width: 450px;
    display: inline-block;
}
/*Footer css */
footer{
    background:linear-gradient(rgba(0, 0, 255, 0.479), black);
    position: relative;
    padding: 5%;
    height: 100px;
    clear: left;
    margin-top: 40px 0 0 0;
    text-align: center;
    border-top: 1px solid white;
}
footer ul{
    position: absolute;
    bottom: 4em;
    left: 42%;
}
footer a{
    text-decoration: none;
}